.diet-main {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: auto;
    background-color: rgb(156, 148, 148);
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    background: rgba(0, 0, 0, 0.59);
    font-family: 'Roboto Slab', serif;
}

.diet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 40%;
    min-height: 100%;
    background-color:rgba(0, 0, 0, 0.897);
    border-radius: 55px;
    border: 2px solid white;
    box-sizing: border-box;
}


.generate-meals {
    display: flex;
    flex-direction: column;
}
.diet-inputs-div {
    height: 100%;
    overflow-y: scroll;
}

.select-meals-number {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-button-diet {
    display: flex;
    flex-direction: row;
}

.diet-btns {
    display: flex;
    margin: 0 auto;
    width: 70%;
    margin-bottom:10px;
    justify-content: space-around;
}

@media screen and (max-width: 700px) {
    .diet {
        width: 100%;
    }
    .diet-inputs-div {
        width: 100%;
        overflow-y: scroll;
    }
}