.info-div {
    display: flex;
    min-width: 80%;
    min-height: 10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.info-div-p {
    font-size: 30px;
    font-weight: 600;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    width: 100%;
    margin: 5px;
}

.info-div-p-disabled {
    color: rgba(255, 255, 255, 0.178);
    font-weight: 300;
}
.info-div span {
    font-size: 24px;
    height: 40px;
}

.info-div div {
    text-align: justify;
    font-size: 24px;
    width:50%;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    height: 40px;
    padding: 5px auto;
    margin: 7px;
}

@media screen and (max-width:1100px) {
    .info-div {
        width: 100%;
        height: 20%;
        flex-direction: column;
    }

    .info-div span {
        display: none;
    }

    .info-div-p {
        font-size: 20px;
        font-weight: 300;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        width: 100%;
        margin: 5px;
    }

    .info-div div {
        font-size: 15px;
        min-height: 25%;
        width: 100%;
        border: none;
        text-align: center;
        margin: 0;
    }
}
