.info-div {
    display: flex;
    width: 80%;
    height: 20%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.info-div p {
    font-size: 30px;
    font-weight: 600;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    width: 100%;
    margin: 5px;
}
.info-div span {
    font-size: 24px;
    height: 40px;
}

.info-div div {
    text-align: justify;
    font-size: 24px;
    width:50%;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    height: 40px;
    padding: 5px auto;
    margin: 7px;

}