.users {
    display: flex; 
    flex-direction: column;
    width: 15%;
    margin: 10px auto; 
    padding: 10px;
    
}

.users-scroll {
    overflow-y: scroll;
    height: 100%;
}

.users h1 {
    margin:  auto;
    height: 30px;
    margin-bottom: 20px;
}


.user-clicked {
    border: 10px solid black;
    background-color: black;
}

