.users {
    display: flex; 
    flex-direction: column;
    width: 15%;
    height: 100%;
    border: 35px solid red;
     margin: 0 auto; 
     padding: 10px;
     border-radius: 55px;
     
    overflow-y: scroll;
}