.users {
    display: flex; 
    flex-direction: column;
    width: 15%;
    border: 30px solid red;
    padding: 10px;
    border-radius: 50px;
    overflow-y: scroll;
    position: relative;
}

.users-h3 {
    margin: 0 auto;
    height: 30px;
}