.user-photo {
    width: 70px;
    max-height: 75px;
    padding: 2px;
}

.user{
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    border-radius: 12px;
    cursor: pointer;
}

.photo-name {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.photo-name p {
    margin: auto;
}

.photo-name .details {
    display: flex;
    flex-direction: column;
}
