.user{
    display: flex;
    flex-direction: row;
    border: 2px solid wheat;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.user:hover {
    background-color: rgba(113, 121, 121, 0.883);
    color: black;
    transition: 0.5s;
}

.user-photo {
    width: 70px;
    max-height: 75px;
    padding: 2px;
}

.photo-name {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.photo-name p {
    margin: auto;
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.details p{
    text-align: center;
    padding: 2px;
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
}
