.selected-user,
.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid wheat;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
    padding: 2px;
    background-color: rgb(112, 107, 112);
}

.selected-user:hover,
.user:hover {
    background-color: rgba(229, 241, 241, 0.966);
    color: black;
    transition: 0.5s;
}

.user-photo {
    max-width: 70px;
    height: 75px;
    padding: 2px;
    border-radius: 15px;
    background-color: rgba(194, 221, 221, 0.705);
}


.details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.details p{
    text-align: center;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
}

.selected-user {
    background-color: rgba(16, 16, 17, 0.616);
    border-color: rgba(0, 0, 0, 0.89);
}