.workout-plan-user { 
    max-width: 100%;
    max-height: 70vh;
    margin: 0;
    padding: 20px;
    overflow-y: scroll;
}

@media screen and (max-width: 700px) {
    .workout-plan-user {
        min-height: 15vh;
    }
}