
.number-inputs-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 25px 5px 0px;
    width: 100%;
    text-align:center;
}   

.number-inputs-div input {
    text-align: center;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    min-width: 20%;
    font-family: 'Roboto Slab', serif;
    background-color: rgba(255, 255, 255, 0.918);
}
.number-inputs-div label {
    text-transform: capitalize;
    font-size: 20px;
    margin: 10px auto;
    letter-spacing: 0.1px;
    font-family: 'Roboto Slab', serif;
    text-align: end;
    width: 55%;
    margin-right: 25px;
}

.number-inputs-div input {
    width: 150px;
}