.welcome-cover {
    background-image: url('../../assets/images/backgrounds/dark_geometric.png');
    height: 100vh;  
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-content {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    height: 30%;
    font-family: 'Roboto Slab', serif;
}

.auth-btns {
    margin: 0 auto;
}

.welcome-cover-h1 {
    color: rgb(195, 184, 184);
    margin: auto;
    height: 50px;
    font-size:40px;
    font-family: 'Diplomata SC', cursive;
}
