.welcome-cover {
    background-image: url('../../assets/images/backgrounds/dark_geometric.png');
    height: 100vh; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 100%;

}

.auth-content {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 70%;
    font-family: 'Roboto Slab', serif;
}

.auth-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
}

.welcome-cover-h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(228, 218, 218);
    margin: auto;
    height: 60%;
    width: 100%;
    border-radius: 15px;
    font-size:40px;
    font-family: 'Diplomata SC', cursive;
}

@media screen and (max-width: 1200px) {
    .auth-btns {
        width: 80%;
    }
}

@media screen and (max-width: 1100px) {
    
    .auth-btns {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .auth-content {
        width: 100%;
        height: 80%;
    }
    .auth-btns {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: 50%;
    }
    .welcome-cover-h1 {
        font-size: 28px;
    }
}