.title-div {
    max-height: 10%;
    width: 90%;
    margin-top: 15px;
}

.title-h1 {
    text-align: center;
    color: white;
    margin: auto;
    font-size: 40px;
    border-bottom: 1px solid white;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: 'Roboto Slab', serif;
}
@media screen and (max-width: 700px) {
    .title-h1 {
        font-size: 30px;
    }
}