.navigation {
    display: flex;
    align-items: center;
    height: 10%;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-color: #212222e5;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
    align-items: flex-end;
}

.right-side {
    width: 70%;
}

.right-side ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
}

.right-side ul li {
    display: inline-block;
    margin: 25px;
    color: rgb(182, 174, 174);
    font-size: 24px;
    font-weight: bold;
    min-width: 10%;
}

.right-side ul a li {
    cursor: pointer;

}

.right-side ul a li:hover {
    color: white;
    font-size: 26px;
    border-bottom: 1px solid white;
}

.right-side ul a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    min-width: 10%;
}

.right-side {
    margin-right: 25px;
}

.title-h2 {
    margin: 10px 40px;
    color: rgb(180, 174, 174);
    border: 1px dashed #858a8ae5;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}