.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-color: #212222e5;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
    align-items: flex-end;
    font-family: 'Roboto Slab', serif;
}

.right-side {
    width: 70%;
}

.right-side ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
}

.right-side ul li {
    display: inline-block;
    margin: 25px;
    color: rgb(165, 153, 153);
    font-size: 24px;
    font-weight: bold;
    min-width: 10%;
    font-family: 'Roboto Slab', serif;
    transition:1s;
    text-align: center;
}

.clickable-lis:hover {
    color: white;
    font-size: 25px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.right-side ul a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition:1s;
    min-width: 10%;
}

.right-side {
    margin-right: 25px;
}

.title-h2 {
    margin: 5px 40px;
    color: rgb(12, 10, 10);
    border: 4px solid #aaa0a0;
    background-color: rgba(234, 241, 241, 0.123);
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.header-name-li {
    border-bottom: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

.fa-cogs {
    color: white;
    font-size: 32px;
}
