.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11%;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-color: #212222e5;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
    align-items: flex-end;
    font-family: 'Roboto Slab', serif;
}

.right-side {
    width: 70%;
}

.right-side ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
}

.right-side ul li {
    display: inline-block;
    margin: 25px;
    color: rgb(146, 135, 135);
    font-size: 24px;
    font-weight: bold;
    min-width: 10%;
    font-family: 'Roboto Slab', serif;
    transition:0.5s;
    text-align: center;
    padding: 0 10px;
}

.clickable-lis:hover {
    color: white;
    font-size: 25px;
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.right-side ul a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition:1s;
    min-width: 10%;
}

.right-side {
    margin-right: 25px;
}

.title-h2 {
    margin: 5px 40px;
    color: rgb(12, 10, 10);
    border: 0.5px solid #dad4d4;
    background-color: rgba(234, 241, 241, 0.123);
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.header-name-li {
    border-bottom: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

.fa-cogs {
    color: rgb(250, 217, 217);
    font-size: 42px;
}

.settings:hover .fa-cogs {
    font-size: 46px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
   .navigation {
       flex-direction: column;
   }
   .title-h2 {
       font-size: 24px;
       width: 100%;
       margin: 0 auto;
   }
   .right-side {
       display: flex;
       flex-direction: row;
   }

   .right-side ul li {
       font-size: 14px;
   }

   .right-side ul li:hover{ 
       font-size: 15px;
   }

   .fa-cogs {
       font-size: 20px;
   }

   .settings {display: none;}

   .settings:hover  {
       display: none;
   }
   .clickable-lis:hover {
       flex: 1;
   }
  }