.diet {
    border: 2px solid yellow;
    padding: 10px;
    min-height: 750px;

}

.generate-meals {
    display: flex;
    flex-direction: column;
}


.select-meals-number {
    display: flex;
    flex-direction: column;
}

.select-meals-number p {
    display: flex;
    flex-direction: row;
    margin-right: 25px;
}

.select-meals-number p input {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.select-meals-number input {
    width: 150px;
}

.breakfast-div{
    display: flex;
    flex-direction: column;
}

.breakfast-p {
    color: white;
    margin: 0;
}

.input-button-diet {
    display: flex;
    flex-direction: row;
}

.gen-btn {
    width: 250px;
    height: 40px;
}

.meals {
    display: flex;
    flex-direction: row;
}

.meals input {
    width: 200px;
}