.user-photo {
    width: 70px;
    max-height: 55px;
    padding: 2px;
}

.user{
    border: 2px solid blue;
    max-height: 30%;
}

.photo-username {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

