.error-main {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: auto;
    background-color: rgb(156, 148, 148);
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    background: rgba(0, 0, 0, 0.59);
    font-family: 'Roboto Slab', serif;
}

.error-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 25%;
    min-height: 30%;
    background-color:rgba(0, 0, 0, 0.959);
    border-radius: 55px;
    border: 2px solid white;
    box-sizing: border-box; 
}

.error-div p {
    text-align: center;
    width: 50%;
    margin: 10px auto;
}