* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh; 
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Big Shoulders Display', cursive;
    letter-spacing: 2px;
}
