.user-data-navigation {
    display: flex;
    border: 1px solid #34cc23;
    background-color: #e0daca;
    height: 34px;
    width: 100%;
    text-align: center;
}


.user-data-navigation ul {
    display: flex;
    width: 100% !important;
    height: 100% !important;
    list-style: none;
}


.user-data-li {
    display: inline-block;
    border: 1px solid white;
    color: gray;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    cursor: pointer;
}


.user-data-li:hover {
    color: brown;
    border: 2px solid brown;
}

#user-data-ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.active-li {
    color: black;
    border: 2px solid black;
    font-size: 24px;
 }