.user-page {
     display: flex;
     flex-direction: column;
    width: 35%;
    border: 35px solid yellow;
     margin: 0 auto; 
     min-height: 100%;
     border-radius: 55px;
     padding: 10px;
     max-height: 100%;
}