.days-input-main {
    margin-top: 20px;
}

.days-inputs-div {
    display: flex;
    justify-content: center;
    height:45px;
    margin-top: 5px;
}

.days-inputs-div label {
    font-size: 20px;
    margin-right: 2px;
    font-family: 'Roboto Slab', serif;
}
.undo-btn,
.rest-btn {  
    font-family: 'Roboto Slab', serif;
    height: 35px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    margin-left: 2px;
    background-color: rgba(243, 243, 237, 0.877);
    border:none;
    width: 60px;
    padding: 0;
    cursor: pointer;
}
.undo-btn {
   width: 100px; 
}

.rest-day-p {
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

.rest-div {
    width: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .days-input-d {
       max-height: 100vh;
        overflow-y: scroll;
    }
}
@media screen and (max-height: 400px) {
    .days-inputs-div label {
      font-size: 15px;
    }
}